<br>
<hr>
<h1>Coupon: <%= @coupon.coupon_code %></h1>
<br>
<h1>Store: <%= @coupon.store %></h1>
<hr>
<%= link_to "Index Page", coupons_path %>
<%# <%=button_to "Delete","/users/#{@user.id}" , method: 'delete'%>